Source: yaamake
Section: electronics
Priority: extra
Maintainer: Jaakko Kantojärvi <jaakko@n-1.fi>
Build-Depends:
 debhelper (>= 8.0.0),
 dh-python,
Standards-Version: 3.9.3
Homepage: https://github.com/raphendyr/yaamake
Vcs-Git: git://github.com/raphendyr/yaamake.git
Vcs-Browser: https://github.com/raphendyr/yaamake

Package: yaamake
Architecture: all
Depends:
 yaamake-makefiles,
 ${misc:Depends},
Suggests:
 git,
Description: Makefile system to build and program AVR projects
 Yaamake is handy makefile system to be used with gnu make
 for building and programming AVR projects. IT allows you to
 write simple Makefile with few variable definitions and
 upplies lot of defined targets (actions).
 .
 Yaamake is mainly used by Yaal project, but it's also
 very useful separately.
 .
 This package contains tool to find location of actual makefiles.

Package: yaamake-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
Description: documentation for yaamake
 <insert long description, indented with spaces>

Package: yaamake-makefiles1
Provides: yaamake-makefiles
Architecture: all
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.0
Depends:
 make,
 gcc-avr,
 avrdude,
 ${python:Depends},
 ${misc:Depends},
Suggests:
 teensy-loader-cli,
Description: Actual makefiles for yaamake
 This package contains one version of yaamake's makefile system.
 You can have multiple different versions of these installed.
 Command yaamake is used to return path to one of these makefiles.
